.App {
  text-align: center;
  font-family: 'Abel', sans-serif;
}
body {
  background: #333;
  color: #fff;
}
.navigation-menu {
  display: flex;
  justify-content: center;
}
.navigation-menu li {
  list-style-type: none;
  width:120px;
  height:40px;
  line-height:40px;
  text-align: center;
  margin-right:40px;
  text-transform: uppercase;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
}
.navigation-menu__link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 2s;
}
.navigation-menu__link:hover {
  color: rgb(42, 127, 255);
}

.react-page__project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  align-content: center;
  flex-wrap: wrap;
  background: #333;
}
.react-page__project {
  width: 300px;
  height: 300px;
  margin:20px;
  position:relative;
}

.react-page a:first-child .react-page__project {
  background: url('https://raw.githubusercontent.com/Valeria38/portfolio/develop/src/img/reactpage/tictactoe.jpg') no-repeat;
  background-size: cover;
}
.react-page a:nth-child(2) .react-page__project{
  background: url('https://raw.githubusercontent.com/Valeria38/portfolio/develop/src/img/reactpage/todo.jpg') no-repeat;
  background-size: cover;
}
.react-page a:last-child .react-page__project{
  background: url(' https://raw.githubusercontent.com/Valeria38/portfolio/develop/src/img/reactpage/forecast.jpg') no-repeat;
  background-size: cover;
}

.react-page .layer {
  display: none;
  background:rgba(0, 0, 0, .5);
  position:absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
}

.react-page a .react-page__project:hover .layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-page__project a {
  color:white;
  margin:10px;
  text-decoration: none;
}
.react-page__project a:hover {
  color: tomato;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 510px;
  padding:40px;
  background: url('https://cdn-images-1.medium.com/max/1600/1*dlN-vF1YJ7ZpOrx8rOGBEQ.jpeg') no-repeat;
  background-size: cover;
  margin-top:20px;
}
.homepage__photo {
  width:200px;
  height:200px;
  border-radius: 50%;
  background: url('https://raw.githubusercontent.com/Valeria38/portfolio/develop/src/img/homepage/me.jpg') no-repeat;
  background-size: cover;
  transition: background 2s;
}
.homepage__photo:hover {
  background: rgba(0,0,0,.5);
}

.homepage__info p {
  font-size:36px;
  color: rgb(255, 255, 255);
  margin-bottom:40px;
}


/* display: table;
	margin: 10px auto;
	font-weight: 500;
	font-size: 38px;
	background: linear-gradient(330deg, #fff 0%, rgb(38, 125, 255) 50%,rgb(0, 34, 109) 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
*/  

@media screen and (max-width: 1450px) {
  .homepage {
    height:800px;
  }
}

@media screen and (max-width: 1050px) {
  .react-page__project-container {
    height: 700px;
  }
  .homepage {
    height:1000px;
  }
}

@media screen and (max-width: 700px) {
  .react-page__project-container {
    height: 1300px;
  }
  .react-page__project {
    width: 400px;
    height:400px;
  }
  .homepage {
    height: 1000px;
  }
}
